<html>

<title>Gitchen</title>

<p>{{ name }} </p>

<form action="search" action="POST">
  <h1><strong>what's in your fridge?:</strong></hi>
    <br>
  <input type='text' name="ingredients">
<br/>
  <input type="submit" value="Submit">

</form>


<form action = "upload" method = "POST"
	enctype = "multipart/form-data">
	<input type = "file" name = "file" />
	<input type = "submit"/>
</form>

<style>

body{

  background-color: #CCC9DC;
}

h1{
  color: #324A5F;
  text-align: center;
  font-family: verdana;
  font-variant: small-caps;
}

p{
  font-family: verdana;
  font-size: 60px;
  text-align: center;
  color: #5A1A22;
  font-variant: small-caps;
}



</style>

</html>
